<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Karabiner-Elements complex_modifications rules</title>
    <link href="assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://pqrs.org/osx/karabiner/complex_modifications/">Karabiner-Elements complex_modifications rules</a>
        </div>
      </div>
    </nav>

    <div class="container" style="margin-bottom: 100px">
      <div class="text-right" style="margin-bottom: 30px">
        <a href="https://github.com/pqrs-org/KE-complex_modifications">GitHub</a>
      </div>

      <%= file_import_panel("docs/json/caps_and_return_to_ctrl.json") %>
      <%= file_import_panel("docs/json/caps_lock.json") %>
      <%= file_import_panel("docs/json/exchange_numbers_and_symbols.json") %>
      <%= file_import_panel("docs/json/control.json") %>
      <%= file_import_panel("docs/json/shift.json") %>
      <%= file_import_panel("docs/json/spacebar.json") %>
      <%= file_import_panel("docs/json/vi_mode.json") %>
      <%= file_import_panel("docs/json/emacs_key_bindings.json") %>
      <%= file_import_panel("docs/json/modifiers_to_f-keys.json") %>
      <%= file_import_panel("docs/json/diamond_cursor.json") %>
      <%= file_import_panel("docs/json/exchange_semicolon_and_colon.json") %>
      <%= file_import_panel("docs/json/ctrl_command_fn_letter_specials.json") %>
      <%= file_import_panel("docs/json/command_arrows_to_option_arrows.json") %>
      <%= file_import_panel("docs/json/delete.json") %>
      <%= file_import_panel("docs/json/nonbreaking_space.json") %>
      <%= file_import_panel("docs/json/change_command_l.json") %>
      <%= file_import_panel("docs/json/change_command_r.json") %>
      <%= file_import_panel("docs/json/launch_apps.json") %>
      <%= file_import_panel("docs/json/launch_new_Chrome_or_iTerm2_windows.json") %>
      <%= file_import_panel("docs/json/block_one_handed_combos.json") %>
      <%= file_import_panel("docs/json/numeric_keypad.json") %>
      <%= file_import_panel("docs/json/hhkb_mode.json") %>
      <%= file_import_panel("docs/json/application_window_tab_switch_with_right_cmd_hjklsemiquote.json") %>
      <%= file_import_panel("docs/json/remote-desktop.json") %>
      <%= file_import_panel("docs/json/tmux_prefix.json") %>
      <%= file_import_panel("docs/json/swap_alt_cmd_in_autodesk_maya.json") %>
      <%= file_import_panel("docs/json/pok3r-media.json") %>
      <%= file_import_panel("docs/json/pc_shortcuts.json") %>
      <%= file_import_panel("docs/json/fn_plus_numbers_to_function_keys.json") %>
      <%= file_import_panel("docs/json/mu_mode.json") %>

      <!-- Full keyboard layouts -->
      <%= file_import_panel("docs/json/dvorak_layout.json") %>
      <%= file_import_panel("docs/json/colemak_layout.json") %>

      <!-- For specific languages -->
      <%= file_import_panel("docs/json/japanese.json") %>

      <!-- Personal files -->
      <%= file_import_panel("docs/json/personal_tekezo.json") %>
      <%= file_import_panel("docs/json/personal_apm1467.json") %>

      <hr />
      <a href="example.html">Other examples</a>
    </div>

    <script src="assets/jquery-3.2.1.min.js"></script>
    <script src="assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
